#  Basic Data Analysis for the 1991 Chicago Bulls

## Start by importing basic 3 modules + style for graphs

In [10]:
import matplotlib.style as style
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import csv

In [39]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

## Loading csv file into a variable

In [13]:
bulls = pd.DataFrame.from_csv('1991b.csv', encoding='utf-8')

##### Shortening the Variable for easier use

In [15]:
b = bulls

#### Assigning Wins and Losses

In [18]:
wins = b[b['WL']=='W']
loss = b[b['WL']=='L']

##### Counting the ammount of wins

In [24]:
len(wins)

67

##### Counting the ammount of losses

In [25]:
len(loss)

15

## We Measure Assists because it is great indicator of how well the team is passing the ball and "Assisting" each other to score points.

In [28]:
asst_up=b[b['AST']>b['OAST']]
asst_down=b[b['AST']<b['OAST']]

## Measuring Rebounds is a great indicator of teamwork and picking up the slack, a missed shot is either a offensive rebound or defensive rebound, for simplicity we will look at Total Rebounds which is a combination of both.

In [30]:
totalrebound_up=b[b['TRB']>b['OTRB']]
totalrebound_down=b[b['TRB']<b['OTRB']]

In [32]:
wins_rebounds = totalrebound_up[totalrebound_up['WL']=='W']

In [34]:
len(wins)

67

In [35]:
len(wins_rebounds)

49

In [36]:
len(wins)/len(wins_rebounds)

1.3673469387755102

## of the 67 wins, 49 of the wins involved the Bulls having a edge in Rebounding, This also translates to 73% of the wins involved the Bulls with the edge in Rebounding

In [37]:
len(wins_rebounds)/len(wins)

0.7313432835820896

In [40]:
loss_lrebounds = totalrebound_down[totalrebound_down['WL']=='L']

In [41]:
loss_lrebounds

,G,Date,Unnamed: 3,Opp,WL,Tm,Opp.1,FG,FGA,FG%,...,OFT,OFTA,OFT%,OORB,OTRB,OAST,OSTL,OBLK,OTOV,OPF
Rk,,,,,,,,,,,,,,,,,,,,,
3,3,1991-11-05,NaN,GSW,L,110,118,39,84,0.464,...,20,29,0.690,14,44,28,9,5,18,33
22,22,1991-12-17,NaN,LAL,L,89,102,38,92,0.413,...,30,35,0.857,17,49,17,6,10,12,15
29,29,1992-01-03,@,MIL,L,108,113,42,79,0.532,...,18,29,0.621,16,37,20,10,3,10,23
43,43,1992-01-28,@,SAS,L,104,109,42,96,0.438,...,20,26,0.769,16,52,24,4,12,14,23
44,44,1992-01-30,@,HOU,L,102,105,43,95,0.453,...,14,24,0.583,13,45,25,6,11,14,18
56,56,1992-02-25,@,DET,L,106,108,44,90,0.489,...,25,30,0.833,13,46,23,3,8,15,19
80,80,1992-04-14,@,CLE,L,100,115,44,97,0.454,...,15,18,0.833,8,42,35,4,5,12,16

## Of the 15 losses, 7 came with the bulls losing the rebounding battle or 47%

In [42]:
len(loss_lrebounds)/len(loss)

0.4666666666666667

# Minor Summary:

## Wins = 67
## Losses = 15
## Rebound Battle Win = 56
## Rebound Battle Lost = 21
## 67 / 56 / 49 : Relationship of Rebounds => 56 / 49 = 87.5%
## Winning the Rebounding battle = 87.5% of Winning the Game

In [44]:
len(totalrebound_down)

21

In [45]:
www = totalrebound_up[totalrebound_up['WL']=='W']

In [46]:
len(www)

49

In [47]:
len(totalrebound_up)

56

In [48]:
49/56

0.875