In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style
%matplotlib inline

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))
# learned from youtube video brandon rhodes on pandas

In [3]:
df = pd.read_csv('data/bulls1996.csv')

In [27]:
t = df

In [28]:
wins = t[t["W/L"]=='W']
loss = t[t['W/L']=='L']
assist_w=t[t['AST']>t['AST.1']]
assist_l=t[t['AST']<t['AST.1']]
trebounds_w=t[t['TRB']>t['TRB.1']]
trebounds_l=t[t['TRB']<t['TRB.1']]
orb_w=t[t['ORB']>t['ORB.1']]
orb_l=t[t['ORB']<t['ORB.1']]
to_w=t[t['TOV']>t['TOV.1']]
to_l=t[t['TOV']<t['TOV.1']]
stl_w=t[t['STL']>t['STL.1']]
stl_l=t[t['STL']<t['STL.1']]
blk_w=t[t['BLK']>t['BLK.1']]
blk_l=t[t['BLK']<t['BLK.1']]

In [11]:
dfw = df[df['W/L'] == 'W']

In [29]:
stats = {'Wins': wins['W/L'], 
        'Loss': loss['W/L], 
        'Class': 'First',
        'Age': 7, 
        'Class': 'First',
        'Age': 7, 
        'Class': 'First',
        'Age': 7, 
        'Class': 'First',
        'Age': 7, 
        'Class': 'First',
        'Age': 7, 
        'Class': 'First'}

SyntaxError: EOL while scanning string literal (<ipython-input-29-1e3d30c86271>, line 2)

In [20]:
adfw['W/L']

0     W
1     W
2     W
3     W
4     W
5     W
6     W
7     W
8     W
9     W
10    W
11    W
13    W
14    W
15    W
16    W
17    W
20    W
21    W
22    W
23    W
24    W
25    W
26    W
27    W
29    W
30    W
31    W
32    W
33    W
     ..
44    W
45    W
46    W
48    W
49    W
50    W
51    W
52    W
53    W
54    W
56    W
57    W
58    W
59    W
61    W
62    W
64    W
65    W
66    W
67    W
68    W
69    W
70    W
71    W
73    W
74    W
75    W
76    W
77    W
79    W
Name: W/L, dtype: object

In [21]:
dict = {'Wins': dfw['W/L'], 
        'Age': 7, 
        'Class': 'First'
        'Age': 7, 
        'Class': 'First'
        'Age': 7, 
        'Class': 'First'
        'Age': 7, 
        'Class': 'First'
        'Age': 7, 
        'Class': 'First'
        'Age': 7, 
        'Class': 'First'}

In [26]:
dict['Wins']

0     W
1     W
2     W
3     W
4     W
5     W
6     W
7     W
8     W
9     W
10    W
11    W
13    W
14    W
15    W
16    W
17    W
20    W
21    W
22    W
23    W
24    W
25    W
26    W
27    W
29    W
30    W
31    W
32    W
33    W
     ..
44    W
45    W
46    W
48    W
49    W
50    W
51    W
52    W
53    W
54    W
56    W
57    W
58    W
59    W
61    W
62    W
64    W
65    W
66    W
67    W
68    W
69    W
70    W
71    W
73    W
74    W
75    W
76    W
77    W
79    W
Name: W/L, dtype: object